{% extends 'main.html' %}

{% block content %}
<div class="myResult-container">
    <h1>Topik: <span>{{topic|title}}</span></h1>

    <table class="myResult-table">
        <thead class="myResult-table-header">
            <th>Soal</th>
            <th>Jawabanku</th>
            <th>Umpan Balik</th>
        </thead>

        {% for result in results %}
        <tr>
            <td>{{result.question}}</td>
            <td>{{result.answer}}</td>
            <td>{{result.feedback}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Skor saya: <span>{{score}}</span></p>
</div>
{% endblock %}