{% extends 'main.html' %}

{% block content %}
<div class="registerForm-container">
    <div class="registerForm-page">
        <h1>Buat Akun</h1>
        <form action="" onsubmit="return registValid()" method="POST">
            {% csrf_token %}

            {% for field in form %}
            <label for="room_name">{{field.label}}</label>
            {% if forloop.counter == 1 %}
            <p><input type="{{ field.widget.attrs.type }}" id="username_input" name="{{ field.name }}" placeholder="Tulis tanpa ada spasi" {{ field.widget.attrs }}></p>
            <ul>
                <li class="passConfirm" id="userConfirm">Jangan ada spasi</li>
            </ul>
            {% else %}
                <p>{{ field }}</p>
                {% if forloop.counter == 3 %}
                <ul>
                    <li class="condition" id="condition1">Password harus lebih dari 8 huruf</li>
                    <li class="condition" id="condition2">Password tidak boleh seluruhnya berupa angka.</li>
                    <li class="condition" id="condition3">Jangan jadikan username menjadi password</li>
                </ul>
                {% elif forloop.counter == 4 %}
                <ul>
                    <li class="passConfirm" id="passConfirm">Password belum sama dengan password sebelumnya</li>
                </ul>
                {% endif %}
            {% endif %}
            
            {% endfor %}

            <button type="submit" class="btn-register">Buat Akun</button>
        </form>
        <p>sudah punya akun? <a href="{% url 'loginPage' %}">login</a></p>
    </div>
</div>
{% endblock %}

{% block js %}
{% load static %}
<script src="{% static 'js/regist.js' %}"></script>
{% endblock js %}