{% extends 'main.html' %}

{% block content %}
<div class="studentsAnswer-container">
    <h1>Topik: <span>Perubahan Iklim</span></h1>

    <form class="search-topic" action="" method="get">
        <input name="q" placeholder="Cari siswa">
    </form>
    <table class="studentsAnswer-table">
        <thead class="stundentsAnswer-table-header">
            {% for header in headers %}
            <th>{{header}}</th>
            {% endfor %}
        </thead>

        {% for rows in row_data %}
        <tr>
            {% for row in rows %}
            <td>{{row}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'downloadAnswers' topic.id %}" class="download-answers">Unduh Jawaban Siswa</a>
</div>
{% endblock %}