<header>
    <nav class="navbar">
        <section class="top-nav">
            <a href="{% url 'home' %}" class="home-logo">
                MentorAI
              </a>
              <input id="menu-toggle" type="checkbox" />
              <label class='menu-button-container' for="menu-toggle">
              <div class='menu-button'></div>
            </label>
              <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">Tentang</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'topicList' %}">Manage</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                  <li><a href="{% url 'logoutPage' %}" class="login-logout-mobile">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'loginPage' %}" class="login-logout-mobile">Login</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
              <a href="{% url 'logoutPage' %}" class="login-logout">Logout</a>
            {% else %}
              <a href="{% url 'loginPage' %}" class="login-logout">Login</a>
            {% endif %}
        </section>
    </nav>
</header>